
.loading{
    height: 215px;
    width: 215px;
    z-index: 1;
    display: block;
    margin: auto;
}

.main_style{
    padding-top: 70px;
    width: 100%
}

.main_style p{
    color: rgb(0, 1, 73);
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.button_style{
    color: white;
    background-color: rgb(56, 121, 56);
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 4px;
    border: none;
    box-shadow: 3px 0px 4px rgba(0,0,0,0.5);
    width: 100%;
}

.divbutt{
    padding-top: 0px;
    padding-bottom: 10px;
    width: 400px;
    margin: auto;
}

.back_button_style{
    color: black;
    background-color: rgb(214, 214, 214);
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 6px;
    border: none;
    box-shadow: 3px 0px 4px rgba(0,0,0,0.5);
    width: 100%;
}

.back_button_div{
    position: absolute;
    top: 23%;
    left: 3%;
    z-index: 5;
    padding-top: 0px;
    padding-bottom: 10px;
    width: 130px;
}

@media screen and (max-width: 815px) {
    .main_style p{
        font-size: 0.75rem;
    }

    .navlink{
        color: blue
    }


    .main_style{
        padding-top: 40px;
    }

    .divbutt{
        width: 75px;
    }

    .button_style{
        font-size: 0.75rem;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .loading{
        height: 50px;
        width: 50px;
    }

    .back_button_style{
        color: black;
        background-color: rgb(214, 214, 214);
        font-family: 'Montserrat', sans-serif;
        font-size: 0.75rem;
        padding-top: 5px;
        padding-bottom: 5px;
        border-radius: 3px;
        border: none;
        box-shadow: 2px 0px 1px rgba(0,0,0,0.5);
        width: 100%;
    }
    
    .back_button_div{
        position: absolute;
        top: 10%;
        left: 3%;
        z-index: 5;
        padding-top: 0px;
        padding-bottom: 10px;
        width: 50px;
    }
}